:root {
	--color-background: #ffffff;
	--color-background2: #f7f7f7;
	--color-main: #000000;
	--color-gray: #929292;
	--color-lightgray: #b2b2b2;
	--color-accent: #2a40e3;
}

html, body {
	height: 100%;
	margin: 0;
	padding: 0;
	background: #ccc;
}

#root {
	width: 100%;
	height: 100%;
	position: relative;
	max-width: 450px;
	max-height: 950px;
	margin: 0 auto;
	padding: 0 16px;
  box-sizing: border-box;
	background: var(--color-background);
	font-family: sans-serif;
}

#root > * {
	margin-top: 0;
}